<ul class="rounded">
<% for (i in notes) { var note = notes[i]; %>
  <li>
    <a href="#" data-type="show" data-id="<%= note.id %>"><%= note.title %></a>
  </li>
<% } %>
</ul>

<a href="#" data-type="new" class="greenButton">New Note</a>
