<form>
  <ul class="rounded">
    <li>
      <input type="text" name="title" required autofocus placeholder="Title" />
    </li>
    <li>
      <textarea name="content" required placeholder="Content"></textarea>
    </li>
  </ul>
  <a href="#" class="greenButton" data-type="submit">Create</a>
</form>